@{
    ViewBag.Title = "ForgotPassword";
}
<h2>ForgotPassword</h2>
<div class="text-danger">
    <input type="hidden" id="Message" name="Message" value="@ViewBag.Message" />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <label>EmailId:</label>
            <input type="text" id="email" name="email" class="form-control" />
        </div>

    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-2">
            <input type="button" id="btnemail" name="btnemail" value="Forgot Password" style="color:red;background-color:black" class="form-control" />
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Login")
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $("#btnemail").on('click', function () {
        var formData = $("#email").val();
        var urlToSaveData = "@Url.Action("ForgotPasswordDetail", "Home")" + "?userName=" + formData;
        $.post(urlToSaveData, function (data) {
            if (data.status) {
                alert(data.message);
                $("#email").val("");
            }
            else {
                alert(data.message);
            }
        })
    })
</script>

